.carouselMod{
    padding: 3%;
}

.cardsProductos{
    padding-right: 10%;
    padding-left: 10%;
}

.parent {
    padding-right: 20px !important;
    padding-left: 20px !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.carrito{
    padding: 50px;
    #carrito{
        padding: 50px;
        width: 50%;
    }
    th, td {
        width: 100px;
    }
}

#select{
    padding-top: 5px;
    padding-bottom: 5px;
}

.infoPagos{
    padding-top: 1%;
}


@import "../../../node_modules/bootstrap/scss/bootstrap.scss"